.container_nosotros {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo_somos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo_somos h1 {
  font-family: Cooper;
  font-size: 90px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  color: #087680;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text_container p {
  margin-bottom: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  width: 100%;
  max-width: 1200px;
  height: auto;
  font-weight: bold;
}

.container_valores {
  text-align: center;
  margin-top: 40px;
}

.container_valores h3 {
  font-size: 45px;
  margin-top: -50px;
  margin-bottom: 20px;
}

.flex_valores {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
}

.flex_valores h2 {
  height: 25px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  color: whitesmoke;
  background: black;
}

.flex_valores p {
  height: 25px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  color: black;
  margin-top: 30px;
}
.flex_lema {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex_lema h2 {
  height: 40px;
  margin-top: 200px;
  font-size: 20px;
  color: black;
}
