.perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.perfil img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}
