.container_identidad {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.quienes_somos {
  margin-bottom: 20px;
}

.quienes_somos h1 {
  color: #333;
}

.quienes_somos p {
  font-size: 16px;
  line-height: 1.5;
}

.container_objetivos {
  margin-bottom: 20px;
}

.container_objetivos h3 {
  color: #333;
}

.container_objetivos ul {
  list-style-type: none;
  padding: 0;
}

.container_objetivos li {
  margin-bottom: 10px;
}

.container_objetivos li strong {
  color: #555;
}

article h2 {
  color: #333;
}

article ul {
  list-style-type: none;
  padding: 0;
}

article li {
  margin-bottom: 10px;
}

article h3 {
  color: #333;
}
