body,
html {
  margin: 0;
  padding: 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: rgb(36, 35, 35);
}
.footer {
  background-color: rgb(36, 35, 35);
}
.footer-content {
  height: 180px;
}

.footer-column {
  flex: 1 0 100%;
  max-width: 300px;
  margin-bottom: 5px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media li {
  margin-right: 8px;
}

.footer-bottom {
  text-align: center;
  margin-top: 5px;
  flex: 1 0 100%;
}
